{{#each posts as |post|}}
<div class='row'>
    <div class='col justify-content-center'>
        <div class='card'>
            <div class='card-header'>
                {{title}}
                <div style="text-align: right">Posted by {{name}} on {{format_date date_created}}</div>
            </div>
            <div class='card-body'>
                <div class='card-text'>{{description}}</div>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{#if logged_in}}
<a class="button btn btn-dark" href="/newpost" id="new-post-button">Add New Post</a>
{{/if}}